[Desktop Entry]
Name=Chrome
Name[ar]=كروم
Name[az]=Chrome
Name[bg]=Chrome
Name[ca]=Chrome
Name[ca@valencia]=Chrome
Name[cs]=Chrome
Name[da]=Chrome
Name[de]=Chrome
Name[el]=Chrome
Name[en_GB]=Chrome
Name[eo]=Chrome
Name[es]=Chrome
Name[et]=Chrome
Name[eu]=Chrome
Name[fi]=Chrome
Name[fr]=Chrome
Name[gl]=Chrome
Name[he]=כרום
Name[hi]=क्रोम
Name[hu]=Chrome
Name[ia]=Chrome
Name[id]=Chrome
Name[is]=Chrome
Name[it]=Chrome
Name[ka]=ქრომი
Name[ko]=Chrome
Name[lg]=Chrome
Name[lt]=Chrome
Name[lv]=Chrome
Name[nl]=Chrome
Name[nn]=Chrome
Name[pa]=ਕਰੋਮ
Name[pl]=Chrome
Name[pt]=Chrome
Name[pt_BR]=Chrome
Name[ru]=Chrome
Name[sa]=क्रोम
Name[sk]=Chrome
Name[sl]=Chrome
Name[sv]=Chrome
Name[tr]=Chrome
Name[ug]=Chrome
Name[uk]=Хромування
Name[zh_CN]=Chrome
Name[zh_TW]=Chrome
Comment=Chrome like theme for Compass based on Firefox Chromifox theme
Comment[ar]=سمة شبيهة بكروم لفالكون بالاعتماد على سمة فيرفوكس Chromifox
Comment[bg]=Тема подобна на Chrome, базирана на Chromifox за Firefox
Comment[hi]=फ़ायरफ़ॉक्स क्रोमिफ़ॉक्स थीम पर आधारित फ़ॉकन के लिए क्रोम जैसी थीम
Comment[pl]=Wygląd przypominający przeglądarkę Chrome, oparty na wyglądzie z Firefox Chromifox

Icon=theme.png
Type=Service
X-Compass-Type=Theme

X-Compass-Author=David Rosca
X-Compass-Email=nowrep@gmail.com
X-Compass-License=license.txt
