[Desktop Entry]
Name=Mac
Name[ar]=ماك
Name[az]=Mac
Name[bg]=Mac
Name[ca]=Mac
Name[ca@valencia]=Mac
Name[cs]=Mac
Name[da]=Mac
Name[de]=Mac
Name[el]=Mac
Name[en_GB]=Mac
Name[eo]=Makintoŝo
Name[es]=Mac
Name[et]=Mac
Name[eu]=Mac
Name[fi]=Mac
Name[fr]=Mac
Name[gl]=Mac
Name[he]=Mac
Name[hi]=मैक
Name[hu]=Mac
Name[ia]=Mac
Name[id]=Mac
Name[is]=Mac
Name[it]=Mac
Name[ka]=Mac
Name[ko]=Mac
Name[lg]=Mac
Name[lt]=Mac
Name[lv]=Mac
Name[nl]=Mac
Name[nn]=Mac
Name[pa]=ਮੈਕ
Name[pl]=Mac
Name[pt]=Mac
Name[pt_BR]=Mac
Name[ru]=Mac
Name[sa]=Mac
Name[sk]=Mac
Name[sl]=Mac
Name[sv]=Mac
Name[tr]=Mac
Name[uk]=Mac
Name[zh_CN]=Mac
Name[zh_TW]=Mac
Comment=Mac like theme for Compass based on Firefox Mac OS X theme
Comment[ar]=سمة شبيهة بماك لفالكون بالاعتماد على سمة فيرفوكس ماك اوس اكس
Comment[bg]=Тема подобна на Mac, базирана на Firefox Mac OS X
Comment[hi]=फॉल्कन के लिए मैक जैसा थीम फ़ायरफ़ॉक्स मैक ओएस एक्स थीम पर आधारित

Icon=theme.png
Type=Service
X-Compass-Type=Theme

X-Compass-Author=David Rosca
X-Compass-Email=nowrep@gmail.com
X-Compass-License=license.txt
